/* General Styling */

.heading h2 {
  background-color: #FFC107;
  padding: 13px 25px;
  border-radius: 10px;
  margin: 20px auto 100px;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 24px;
  width: fit-content;
}

.booking-form-box-card {
  background-color: #f5f5f5;
  border-radius: 15px;
  box-shadow: 1px 1px 5px 3.5px #FFC107;
  color: black;
  padding: 5%;
  width: 90%;
  max-width: 800px;
  margin: 8rem auto;
  transition: transform 0.3s;
  text-align: center;
}

.booking-form-box-card:hover {
  transform: translateY(-5px) scale(1.03);
}

.booking-form-subtitle-card h3 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 1rem;
  color: #555;
}

/* Form Element Styling */

.booking-form-container-card,
.booking-form-textarea-container-card {
  margin-bottom: 1.5rem;
}

.booking-form-container-card h5,
.booking-form-container-card h4,
.booking-form-container-card label,
.booking-form-textarea-container-card label {
  margin-top: 4rem;
  color: #373939;
  display: block;
  text-align: left; 
  font-weight: bold;
}

.booking-form-container-card .pet-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.booking-form-container-card input[type="checkbox"] {
  margin-left: 0.5rem;
}

.booking-form-container-card input[type="date"],
.booking-form-container-card input[type="time"],
.booking-form-textarea-container-card textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 0.5rem;
}

.booking-form-container-card input[type="date"],
.booking-form-container-card input[type="time"] {
  width: 130px;
  height: 30px;
}

.booking-form-container-card h4 {
  font-weight: bold;
}

.booking-form-textarea-container-card textarea {
  width: 100%;
  min-height: 150px;
  resize: vertical;
}

.left-aligned-text {
  text-align: left;
  font-weight: bold;
}

.checkbox-inline {
  display: flex;
  align-items: center;
}

.checkbox-inline input[type="checkbox"] {
  margin-right: 8px;
}

.date-time-selection {
  margin-top: 16px;
}

.inline-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

/* Button Styling */

.booking-form-button-container-card {
  text-align: center;
  margin-top: 1.5rem;
}

.booking-form-button-card {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-right: 1rem;
}

.booking-form-button-card:last-child {
  margin-right: 0;
}

.booking-form-button-card:hover {
  background-color: #0056b3;
}

/* Media Queries */

@media (max-width: 768px) {
  .inline-input {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (min-width: 600px) {
  .booking-form-box-card {
    width: 70%;
    margin: 2rem auto;
  }

  .booking-form-textarea-container-card textarea {
    width: 80%;
  }

  .booking-form-button-container-card {
    margin-top: 2rem;
  }
}

@media (min-width: 768px) {
  .booking-form-box-card {
    width: 60%;
  }

  .booking-form-container-card h5,
  .booking-form-container-card h4,
  .booking-form-container-card label,
  .booking-form-textarea-container-card label {
    text-align: center;
  }

  .booking-form-container-card .pet-item,
  .inline-input {
    justify-content: center;
    align-items: center;
  }
}