* {
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.create-profile-title h1 {
    background-color: #FFC107;
    padding: 13px 25px;
    border-radius: 10px;
    margin: 20px auto;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 24px;
    width: fit-content;
}

.create-profile-box {
    background-color: #f5f5f5;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 3.5px #FFC107;
    color: black;
    padding: 5%;
    text-align: unset;
    width: 90%;
    max-width: 800px;
    margin: 8rem auto;
    transition: transform 0.3s;
}

.create-profile-box:hover {
    transform: translateY(-5px) scale(1.03);
}

.profile-avatar, .avatar-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    background-color: #e2e2e2;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.avatar-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.pet-details-title {
    margin-top: 4rem;
}

.create-profile-heading h4, .create-profile-heading h5 {
    text-align: center;
    color: #555;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.upload-avatar input[type="file"] {
    opacity: 0;
    width: 100%;
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%);
    cursor: pointer;
}

.upload-avatar {
    text-align: center;
    margin: 1rem 0;
    position: relative;
}

.upload-avatar label {
    display: inline-block;
    background-color: #FFC107;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.upload-avatar label:hover {
    background-color: #ffa000;
}

.create-profile-textarea-container {
    margin-bottom: 1rem;
}

.create-profile-textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-height: 100px;
}

.create-profile-submit-button {
    text-align: center;
}

.create-profile-heading h5 {
    margin-top: 4rem; 
}

.create-profile-heading h4 {
    font-size: 30px;
    margin-bottom: 5rem;
    margin-top: 3rem;
}

.create-profile-submit-button .btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.create-profile-submit-button .btn:hover {
    background-color: #0056b3;
}

label {
    display: block;
    margin-top: 1rem;
    color: #373939;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="email"],
select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    display: block;
}

input[name="medicalConditions"] {
    height: 7rem;
    width: 15rem;
    padding: 0.5rem;
}

select[name="gender"],
select[name="petType"] {
    height: 40px;
    width: 7rem;
    padding: 0.2rem 0.5rem;
}

/* Tablet view */
@media (min-width: 768px) and (max-width: 1309px) {
    .profile-avatar, .avatar-preview {
        height: 280px;
        width: 280px;
    }

    .avatar-preview img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    .profile-avatar-text {
        font-size: 18px;
    }

    .create-profile-heading h4 {
        font-size: 45px;
        margin-bottom: 7rem;
    }
}

/* Desktop view */
@media (min-width: 1310px) {
    .profile-avatar, .avatar-preview {
        height: 280px;
        width: 280px;
    }

    .avatar-preview img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    .profile-avatar-text {
        font-size: 20px;
    }

    .create-profile-heading h4 {
        font-size: 50px;
        margin-bottom: 8rem;
    }
}