.view-pets-title {
    background-color: #FFC107;
    padding: 5px 25px;
    border-radius: 10px;
    margin: 15px auto 100px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 24px;
    width: fit-content;
}

.pet-card-view {
    background-color: #f5f5f5;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 3.5px #FFC107;
    color: black;
    padding: 10% 5%;
    width: 90%;
    max-width: 800px;
    margin: 8rem auto;
    transition: transform 0.3s;
    text-align: center;
}

.pet-card-view:hover {
    transform: translateY(-5px) scale(1.03);
}

.pet-avatar-view img {
    max-width: 300px;
    max-height: 450px;
    display: block;
    margin-bottom: 80px;
    border-radius: 50%;
    border: 3px solid #FFC107;
}

.pet-details-view {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.pet-details-view h2,
.special-instructions-view h4,
.general-info-view h4 {
    color: #444;
    width: 100%;
    margin-top: 10px;
}

.pet-delete-btn {
    align-self: flex-start;
    margin-top: 20px;
    order: 3;
}

.size-sm-lg {
    margin-top: 50px;
}

.pets-list-view p {
    text-align: center;
    font-size: 18px;
    color: #888;
    margin-top: 30px;
}

.pet-card-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    padding: 20px;
}

.pet-avatar-view {
    flex-basis: 100%;
    margin-bottom: 20px;
}

/* Tablet */
@media (min-width: 768px) {
    .pet-avatar-view {
        flex-basis: 30%;
    }

    .pet-details-view {
        flex-basis: 60%;
    }

    .avatar-preview1 {
        max-height: 250px;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .avatar-preview1 {
        max-height: 300px;
    }
}