/* Common styles for all devices */
* {
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.account-button-card {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #ffffff;
    transition: transform 0.3s;
}

.account-button-card:hover {
    transform: translateY(-5px);
}

.centered-container-account-card {
    background-color: #222222;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 5%;
}

.dashboard-overview {
    background-color: #FFC107;
    padding: 15px 25px;
    border-radius: 10px;
    margin-bottom: 140px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 24px;
}

.dashboard-overview h2 {
    margin: 0;
    font-weight: bold;
}

.account-container-card {
    background-color: #f5f5f5;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 3.5px #FFC107;
    color: black;
    padding: 10%;
    text-align: center;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    transition: transform 0.3s;
}

.account-container-card:hover {
    transform: translateY(-5px);
    transform: scale(1.03);
}

.account-buttons-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 3.5rem;
}

.other-buttons-section-card,
.view-profile-button-section-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.account-buttons-card {
    margin-top: 1rem;
}


/* Tablet view */
@media (min-width: 768px) and (max-width: 1309px) {
    .other-buttons-section-card {
        flex-direction: row;
        gap: 1rem;
        justify-content: space-between;
    }

    .view-profile-button-section-card {
        flex-direction: row;
        gap: 1rem;
        justify-content: flex-start;
    }

    .account-buttons-card {
        margin-top: 1rem;
    }
    .account-button-card {
        width: 200px;
        height: 60px;
        font-size: 20px !important;
    }
}

/* Desktop view */
@media (min-width: 1310px) {
    .account-container-card {
        padding: 3%;

        max-width: 1200px;
        min-height: 350px;
    }

    .account-buttons-card {
        margin-top: 5rem;
        flex-direction: row;
        justify-content: center;
        gap: 1.5vw;
    }

    .other-buttons-section-card,
    .view-profile-button-section-card {
        flex-direction: row;
        gap: 1.5vw;
    }
    .account-button-card {
        width: 250px;
        height: 60px;
        font-size: 30px !important;
    }
}
