/* Common styles for all devices */
.account-button {
    width: 150px;  /* Reduced width for buttons */
    height: 40px;  /* Reduced height for buttons */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px; /* Adjusted font-size */
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;  /* If the text is too long, it'll be truncated with an ellipsis */
}

/* Mobile view */
.centered-container-account {
    background-color: #222222;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 5%;
}

.account-container {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
    padding: 3%;
    text-align: center;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.account-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.other-buttons-section,
.view-profile-button-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* Tablet view */
@media (min-width: 650px) and (max-width: 1023px) {
    .other-buttons-section,
    .view-profile-button-section {
        flex-direction: row;
        gap: 1rem;
        justify-content: space-between;
    }
}

/* Desktop view */
@media (min-width: 1024px) {
    .account-buttons {
        flex-direction: row;
        justify-content: center;
        gap: 1.5vw;
    }

    .other-buttons-section,
    .view-profile-button-section {
        flex-direction: row;
        gap: 1.5vw;
    }
}
