.create-profile-box {
    margin: 2rem auto;
    width: 80%;
    max-width: 600px;
    padding: 1rem;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.create-profile-title h1 {
    text-align: center;
    color: #333;
    margin-bottom: 1rem;
}

.profile-avatar, .avatar-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    background-color: #e2e2e2;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.avatar-preview img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.upload-avatar input {
    display: block;
    margin: 1rem auto;
}

.create-profile-heading h4, .create-profile-heading h5 {
    text-align: center;
    color: #555;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.create-profile-textarea-container {
    margin-bottom: 1rem;
}

.create-profile-textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-height: 100px;
}

.create-profile-submit-button {
    text-align: center;
}

.create-profile-submit-button .btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.create-profile-submit-button .btn:hover {
    background-color: #0056b3;
}



label {
    display: block;
    margin-top: 1rem;
    color: #373939;
}

input[type="text"],
input[type="number"],
input[type="email"],
select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    display: block; 
}

/* Centering the "choose file" */
.upload-avatar {
    text-align: center;
    margin: 1rem 0;
}

.custom-file-upload {
    display: inline-block; 
    
}

input[name="medicalConditions"] {
    height: 7rem;
    width: 15rem;
    padding: 0.5rem;
}

select[name="gender"] {
    height: 30px; 
    width: 7rem;
    padding: 0.2rem 0.5rem; 
}