.edit-profile-container {

    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
    padding: 20px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.edit-profile-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.comment-box {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.edit-profile-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.edit-profile-buttons button {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-profile-buttons button:hover {
    background-color: #0056b3;
}

@media (min-width: 768px) {
    /* Media queries for tablet view */
    .create-profile-form,
    .view-profile-info,
    .edit-profile-form {
        gap: 30px;
    }
}

@media (min-width: 1200px) {
    /* Media queries for desktop view */
    .create-profile-form,
    .view-profile-info,
    .edit-profile-form {
        gap: 40px;
  }
