/* General settings (applies to all views) */
* {
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-welcome-container {
    padding: 10px 20px;
    background-color: #FFC107;
    border: 5px solid #FFC107;
    border-radius: 10px;
    color: black;
    display: inline-block;
    margin: 20px 0;
}

.dashboard-welcome {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.search-bar-container {
    display: none;
}

.search-bar-container input {
    width: 90%;
    padding: 8px 16px;
    border-radius: 5px;
    border: 2px solid #D0D0D0;
    outline: none;
    transition: border-color 0.2s;
}

.search-bar-container input:focus,
.search-bar-container input:active {
    border-color: #FFC107;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: fit-content;
    margin: 0 auto;
    padding: 50px 0 0;
}

.pagination button, .book-now-btn {
    padding: 10px 20px;
    font-size: 14px;
    border-color: #FFC107;
    transition: background-color 0.3s, color 0.3s;
    width: 120px;
    text-align: center;
}

.book-now-btn {
    color: #FFC107;
    background-color: transparent;
}

.book-now-btn:hover {
    background-color: #FFC107;
    color: white;
}

.profile-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.create-profile-box-card {
    flex: 1 0 calc(100% - 40px);
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 3.5px #FFC107;
    transition: transform 0.3s;
    margin: 30px 40px 50px;
    position: relative;
    max-width: 700px;
}

.create-profile-box-card:hover {
    transform: translateY(-5px);
}

.profile-info-card, .profile-details-card {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.profile-image-card {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #e0e0e0;
}

.avatar-preview-card, .placeholder-avatar-card {
    width: 100%;
    height: 100%;
}

.placeholder-avatar-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.company-name-card h3 {
    margin: 0;
    color: #333;
}

.left-column-card, .right-column-card {
    flex: 1;
}

.profile-section-card {
    margin-bottom: 20px;
}

.profile-heading-card {
    color: #888;
    margin-bottom: 10px;
}

.size-sm-lg-card {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
}

.search-bar-container {
    display: block;
    margin-top: 10px;
}
.dashboard-welcome {
    font-size: 18px;
}
.search-bar-container input {
    width: 75%;
    padding: 5px 10px;
    font-size: 14px;
}
.pagination button {
    padding: 5px 9px;
    font-size: 12px;
    width: 70px;
    overflow: hidden;
}
.pagination button:disabled {
    display: none;
}


/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    .search-bar-container, .create-profile-box-card {
        display: block;
    }
    .create-profile-box-card {
        flex: 1 0 calc(50% - 20px);
    }
    .search-bar-container input {
        width: 80%;
        padding: 10px 20px;
    }
    .pagination {
        gap: 25px;
    }
}

/* Desktop */
@media (min-width: 992px) {
    .search-bar-container {
        display: block;
    }
    .create-profile-box-card {
        flex: 1 0 calc(33.333% - 20px);
    }
    .dashboard-welcome {
        font-size: 32px;
    }
    .search-bar-container input {
        width: 70%;
    }
    .pagination {
        gap: 30px;
    }
}

.black-text {
    color: black;
}

.centered-button-home {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

