/* NavBar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2e2e2e;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand-container {
    display: flex;
    align-items: center;
    background-color: #ffc107;
    border-radius: 10px;
    padding: 8px 15px;
    text-decoration: none;
    margin-right: 20px;
}

.navbar-brand {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
}

.navbar-buttons {
    display: inline-flex;
    align-items: center;
    gap: 15px;
}

@media (max-width: 500px) {
    
    .navbar {
        padding: 5px 5px;
    }
    
    .navbar-brand {
        font-size: 12px;
    }

    .navbar-buttons button {
        font-size: 10px;
        padding: 5px 10px;
    }
    .navbar-brand-container {
        padding: 4px 8px;
        margin-right: 5px;
    }

    .navbar-buttons {
        display: inline-flex;
        align-items: center;
        gap: 5px;
    }
}

.small-button {
    padding: 5px 10px; /* Adjust padding to make the button smaller */
    font-size: 1px; /* Adjust font size to make the text smaller */
}

/* Apply larger styles for tablet view */
@media (min-width: 768px) {
    .navbar-brand {
        font-size: 32px;
    }

    .navbar-buttons button {
        font-size: 18px;
        padding: 12px 20px;
    }
}

/* Apply even larger styles for larger monitors */
@media (min-width: 1200px) {
    .navbar-brand {
        font-size: 40px;
    }

    .navbar-buttons button {
        font-size: 22px;
        padding: 14px 24px;
    }
}