/* .view-profile-container {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
    padding: 20px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.view-profile-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.view-profile-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.view-profile-buttons button {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view-profile-buttons button:hover {
    background-color: #0056b3;
} */